* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}

html {
  height: 100%;
}

:root {
  --grey-text-color: #787673;
  --selected-candidate: #20bd30;
  --waitlisted-candidate: #ffa52b;
  --rejected-candidate: #f85253;
  --nostatus-candidate: #f7f2e6;
  --hover-color: #ff782b;
  --icon-grey: #9b9b9b;
  --text-option-grey: #6f624e;
  --cand-container-border: #dfc8a2;
  --cand-header-bg: #fbf2e7;
  --tag-color: #423f41;
  --tag-bottom-color: #c8a677;
  --brown-text-color: #903a14;
  --prof-pic-path: url(../Images/userprof.png);
  --container-bg: url(../Images/containerbg.png);
  --body-bg: url(../Images/bodybackground.png);
}

body {
  height: 100%;
  text-align: center;
  background-image: var(--body-bg);
}

.webpage-container {
  height: 100%;
  width: 1100px;
  margin: auto;
  background-image: var(--container-bg);
  position: relative;
}

/* CSS for main nav bar */

nav {
  height: 9.26%;
  width: 100%;
  background-color: #faf6f1;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  box-shadow: 0 8px 10px -6px grey;
}

.company-logo {
  width: 200px;
  padding: 10px;
}

.nav-options {
  height: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  height: 100%;
}

nav ul li {
  height: 100%;
  width: 75px;
  border-left: 1px solid #f3e7d9;
  border-right: 1px solid #f3e7d9;
  color: var(--icon-grey);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-option-item:hover {
  background-color: #ff782b;
  color: #fff;
}

.profile {
  justify-self: flex-end;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile div {
  height: 55px;
  width: 100px;
  font-size: 14px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: -20px;
}

.logout {
  margin-top: -5px;
  color: var(--brown-text-color);
  cursor: pointer;
}

.profile-pic {
  background-image: var(--prof-pic-path);
  background-size: cover;
  width: 55px !important;
  border: 1px solid grey;
  border-top: 2px inset;
  border-radius: 10px;
  margin-right: 25px;
  cursor: pointer;
}

/* CSS for aside nav bar */

aside {
  position: absolute;
  top: 9.26%;
  left: 0;
  background-color: #565656;
  width: 120px;
  height: 90.74%;
}

aside ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

aside ul li {
  width: 120px;
  height: 100px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

aside ul li span {
  font-size: medium;
}

.side-nav-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-nav-options i {
  padding: 0;
}

.active-black,
.side-nav-options:hover {
  background-color: #4e4e4e;
  color: white;
  position: relative;
}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 10px solid #ede5d9;
  border-bottom: 8px solid transparent;
  position: absolute;
  top: 37px;
  right: 0px;
}

/* CSS for candidate container */

.candidate-display-container {
  background-color: white;
  border: 2px solid var(--cand-container-border);
  border-radius: 10px;
  width: 600px;
  height: auto;
  position: absolute;
  top: 15%;
  left: 155px;
  display: flex;
  flex-direction: column;
}

.candidate-display-container header {
  height: 60px;
  background-color: #fbf2e7;
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.candidate-display-container .header-container {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
}

.candidate-display-container footer {
  height: 60px;
  width: 100%;
  background-color: var(--cand-header-bg);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.candidate-display-container main {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: #faefe2;
}

::-webkit-scrollbar-thumb {
  background-color: var(--waitlisted-candidate);
}

.candidate-options {
  padding: 5px;
  height: 30px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-left: 10px;
  color: var(--text-option-grey);
  cursor: pointer;
}

.candidate-options:hover,
.active-orange {
  background-color: var(--hover-color);
  color: #fff;
}

.candidate-option-tag {
  background-color: #ffd283;
  color: var(--tag-color);
  font-weight: bolder;
  height: 35px;
  width: 110px;
  position: absolute;
  top: 12.5px;
  right: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid var(--cand-header-bg);
  border-bottom: 20px solid transparent;
  position: absolute;
  right: 75px;
}

.triangle-topleft {
  width: 0;
  height: 0;
  border-top: 10px solid var(--tag-bottom-color);
  border-right: 20px solid transparent;
  position: absolute;
  top: 47.5px;
  right: -20px;
}

/* CSS for Candidate card */

.candidates-list {
  padding-right: 0;
  height: 510px;
  width: 600px;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

.candidate-card {
  flex-shrink: 0;
  border-radius: 10px;
  padding: 10px;
  margin: 15px 15px;
  width: 170px;
  height: 220px;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-around;
  position: relative;
  font-size: small;
}

/* CSS for individual item inside candidate card */

.candidate-photo {
  width: 100%;
  height: 120px !important;
  object-fit: cover;
}

.candidate-card .name {
  color: var(--brown-text-color);
  font-size: large;
}

.candidate-card .name:hover {
  color: var(--hover-color);
  text-decoration: underline;
  cursor: pointer;
}

.candidate-card .designation {
  color: var(--text-option-grey);
}

.candidate-card .company-name {
  color: var(--brown-text-color);
}

.candidate-card .contact-opt {
  color: var(--brown-text-color);
  opacity: 0.5;
  cursor: pointer;
  margin-top: 5px;
}

.contact-opt .fa-calendar-alt {
  margin-left: 5px;
}

.fa-check {
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25px;
  width: 25px;
  padding: 5px;
  background-color: var(--selected-candidate);
  color: white;
}

.fa-sync-alt {
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25px;
  width: 25px;
  padding: 5px;
  background-color: var(--waitlisted-candidate);
  color: white;
}

.fa-times {
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25px;
  width: 25px;
  padding: 5px;
  background-color: var(--rejected-candidate);
  color: white;
}

.fa-none {
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25px;
  width: 25px;
  padding: 5px;
  background-color: var(--nostatus-candidate);
  /* box-shadow: 1px 1px 1px var(--icon-grey); */
  color: white;
}

.candidate-card.selected {
  border: 1px solid var(--selected-candidate);
}

.candidate-card.waitlisted {
  border: 1px solid var(--waitlisted-candidate);
}

.candidate-card.rejected {
  border: 1px solid var(--rejected-candidate);
}

.candidate-card.none {
  border: 2px solid var(--nostatus-candidate);
}

/* CSS for postion options */

.position-options-container {
  width: 195px;
  height: 300px;
  position: absolute;
  top: 25%;
  right: 90px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
  transform: scale(1.2);
}

hr {
  align-self: stretch;
}

.position-options-container ul {
  list-style: none;
}

.edit-btn {
  display: inline-block;
  outline: none;
  border: none;
  font-weight: bolder;
  height: 40px;
  padding: 10px;
  background-color: var(--waitlisted-candidate);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn:hover {
  transform: scale(0.98);
  background-color: #fd9c13;
}

.profile-options,
.match-stats-container {
  display: flex;
  color: var(--brown-text-color);
  cursor: pointer;
  font-weight: bold;
  height: 80px;
  font-size: small;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.exp-date,
.ref-no,
.stat-text {
  color: var(--grey-text-color);
  cursor: initial;
}

.position-stats {
  display: flex;
  font-size: small;
  border-radius: 5px;
  border: 1px solid var(--cand-container-border);
}

.position-stats:first-child {
  background-color: black;
}

.stats-list {
  padding: 8px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 249, 246, 1) 35%,
    rgba(251, 239, 230, 1) 100%
  );
  border-right: 1px solid #f3e7d9;
}

.stat-count {
  color: var(--waitlisted-candidate);
}

.stat-first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.stat-last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#reference-image {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
